// COLORS
$color-primary: #222;
$color-primary-light: #999;
$color-primary-dark: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// LAYOUT
$background-main: $color-white;
$background-header: $color-primary;
$background-header-gradient: purple;

// FONT
$default-font-size: 1.6rem;